@import "bourbon/bourbon";
@import "vars";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1 {
	color: $white;
	font-size: 60px;
	line-height: 56px;
	font-weight: bold;
	font-family: 'CleanvertisingLight', sans-serif;
}

section {
	padding: 60px 0;

	h2 {
		color: $blue;
		font-size: 50px;
		line-height: 56px;
	}
}
body {
	font-family: "RobotoRegular", sans-serif;
	color: $text-color-m;
	font-weight: normal;
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.42857;
	-webkit-font-smoothing: antialised;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: red;
}
body input:required:valid,
body textarea:required:valid {
	color: green;
}

.hidden {
	display: none;
}